.favourites {
  display: grid;
  background: rgba(255, 255, 255, 1);
  padding: 32px;
  border-radius: 16px;
  gap: 32px;
}

.favourites__title {
  margin: 0;
  color: #424242;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
}

.hotels {
  display: flex;
  flex-direction: column;
  gap: 16px;
  height: 288px;
  overflow-x: hidden;
  overflow-y: auto;
}

.hotels::-webkit-scrollbar {
  display: none;
}

.buttons {
  display: flex;
  gap: 8px
}

.button {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 4px 8px;
  background: #FFFFFF;
  border: 1px solid #41522E;
  border-radius: 4px;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

.select {
  margin-left: 4px;
}