.form {
    padding: 32px;
    box-sizing: border-box;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 360px;
    height: 410px;
    background-color: #FFFFFF;
}

.form__fieldset {
    margin: 0;
    padding: 0;
    border: none;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.form__label {
    display: flex;
    flex-direction: column;
    color: #424242;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
}

.form__label:nth-child(2) {
    margin-top: 16px;
}

.form__label:last-child {
    margin-top: 20px;
}

.form__input {
    box-sizing: border-box;
    padding: 15px;
    margin-top: 7px;
    width: 296px;
    height: 50px;
    border: 1px solid #C9CACC;
    border-radius: 4px;
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
}

::-webkit-calendar-picker-indicator {
   background-image: url(../../images/picker.svg);
   background-size: 18px 18px;
}

.form__button {
    border: none;
    padding: 0;
    margin-top: 32px;
    width: 296px;
    height: 50px;
    border-radius: 4px;
    background: linear-gradient(104.34deg, #41522E -15.34%, #BE8022 145.95%);
    color: #FFFFFF;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    cursor: pointer;
}