.form {
    padding: 32px;
    box-sizing: border-box;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 360px;
    height: 410px;
    background-color: #FFFFFF;
}

.form__fieldset {
    margin: 0;
    padding: 0;
    border: none;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.form__label {
    display: flex;
    flex-direction: column;
    color: #424242;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
}

.form__label:nth-child(2) {
    margin-top: 16px;
}

.form__label:last-child {
    margin-top: 20px;
}

.form__input {
    font-family: 'Roboto';
    box-sizing: border-box;
    padding: 15px 12px 15px 15px;
    margin-top: 7px;
    width: 296px;
    height: 50px;
    border: 1px solid #C9CACC;
    border-radius: 4px;
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
}

input[type="date"] {
    appearance: none;
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
    color: #424242;
}

/* input[type="date"]:before {
    content: attr(data-placeholder);
    width: 100%;
    color: rgba(135, 135, 135, 1);
} */

::-webkit-calendar-picker-indicator {
    background-image: url(../../images/picker.svg);
    padding: 0;
    margin: 0;
    background-size: 18px 18px;
    /* background-size: contain; */
    
}

.form__button {
    font-family: 'Roboto';
    border: none;
    padding: 0;
    margin-top: 32px;
    width: 296px;
    height: 50px;
    border-radius: 4px;
    background: linear-gradient(104.34deg, #41522E -15.34%, #BE8022 145.95%);
    color: #FFFFFF;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    cursor: pointer;
    font-weight: 500;
}

.form__button:hover {
    background: linear-gradient(0deg, hsla(0, 0%, 100%, .2), hsla(0, 0%, 100%, .2)),
        linear-gradient(104.34deg, #41522e -15.34%, #be8022 145.95%);
}

.form__button:active {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
        linear-gradient(104.34deg, #41522E -15.34%, #BE8022 145.95%);
}