.header {
    background: #E5E5E5;
    display: flex;
    padding: 32px;
    justify-content: space-between;
    align-items: center;
}

.header__title {
    margin: 0;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #424242;
}

.header__button {
    width: 83px;
    height: 24px;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #41522E;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
}