.item {
    display: grid;
    /* justify-content: space-between; */
    background-color: rgba(255, 255, 255, 1);
    width: 296px;
    height: 74px;
    padding-bottom: 15px;
    border-bottom: 1px solid rgba(135, 135, 135, 0.2);
}

.first_row {
    display: flex;
    justify-content: space-between;
}

.title {
    margin: 0;
    width: 210px;
    font-weight: 300;
    font-size: 17px;
    line-height: 22px;
    color: #424242;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.date {
    margin: 4px 0 10px 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #878787
}

.last_row {
    display: flex;
    justify-content: space-between;
    gap: 22px;
}

.like {
    background-color: transparent;
    background-image: url(../../images/like_active.svg);
    background-size: cover;
    width: 21px;
    height: 18px;
    border: none;
    padding: 0;
    cursor: pointer;
}

.like:hover {
    opacity: .7;
}

.price {
    display: flex;
    gap: 8px;
}

.price_text {
    margin: 5.5px 0 0 0;
    font-weight: 300;
    font-size: 11px;
    /* line-height: 22px; */
    color: #878787;
}

.price_digit {
    margin: 0;
    color: #424242;
    font-weight: 400;
    font-size: 17px;
    /* line-height: 22px; */
}